@import url("../../../../global.css");

.link {
    color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    vertical-align: baseline;
}
.link:hover, 
.link__secondary:hover {
    text-decoration: underline 2px;
}

.link__secondary {
    color: var(--secondary-color);
}