@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;400;700&display=swap');

*, :after, :before {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

button {
    overflow: visible;
    border: 0;
    padding: 0;
    margin: 1.8rem;
}

.button {
    max-width: 100%;
    height: 40px;
    line-height: 1.4rem;

    padding: 10px;

    color: white;
    font-family: 'Martian Mono', monospace;
    font-weight: bold;
        
    border: none;
    box-shadow: 2px 2px 8px #cca;

    cursor: pointer;
}

.button:hover {
    transform: scale(0.95);
    transition: 0.2s all linear; 
}

.primary {
    background-color: crimson;
    color: white;
}
.primary:hover {
    background-color: #B80B34;
}

.primary-outlined {
    background-color: white;
    color: crimson;
    border: 2px solid crimson;
}
.primary-outlined:hover {
    background-color: crimson;
    color: white;
}

.secondary {
    color: white;
    /* background-color: darkslategray; */
    background-color: darkseagreen;
    border: 2px solid darkseagreen;
}
.secondary:hover {
    background-color: darkslategray;
    border: 2px solid transparent;
}


.secondary-outlined {
    color: darkslategray;
    background-color: white;
    border: 2px solid darkslategray;
}
.secondary-outlined:hover {
    color: white;
    background-color: darkslategray;
    border: 2px solid transparent;
}