.bu{

    background-color: #AD143C;
    background-color: #B80B34;
    
    background-color: #000000;
    background-color: #3F3F3F;
    
    background-color: darkslategray;
    background-color: darkseagreen;
}