@import url("../../../../global.css");

.label {
    font-family: 'Martian Mono', monospace;
}

.input {
    all: unset;
    
    font-size: 1rem;
    font-family: 'Martian Mono', monospace;
    line-height: 1.2rem;

    margin: 1rem 0rem 2rem 0rem;
    padding: 0.5rem;

    border: 2px solid var(--text-color);
    background-color: var(--base-color);
}

.input:hover {
    transition: 0.2s all linear;
    box-shadow: 0px 2px 8px var(--shadow-color);
}
.input:focus {
    border: 2px solid var(--primary-color);
    transition: 0.2s all linear;
    box-shadow: 0px 2px 8px var(--shadow-color);
}

.small {
    width: 40%;
}

.medium {
    width: 80%;
}

.large {
    width: 100%;
}