@import url("../../../../global.css");

.container {
    display: grid;
}

.container_label {
    margin-bottom: 2rem;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.checkbox_label {
  font-family: "Martian Mono", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4;

  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  
  margin: 0.5rem;
}

.checkbox_field {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--base-color);
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.1em;
  height: 1.1em;
  border: 0.15em solid currentColor;
  transform: translateY(0.1em);

  display: grid;
  place-content: center;

  background-color: var(--base-color);
}

.checkbox_field::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary-color);
  background-color: CanvasText;
}

.checkbox_field:checked::before {
  transform: scale(1);
}

.checkbox_field:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.checkbox_field:hover {
    cursor: pointer;
}