@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;400;700&display=swap');

:root {
    --primary: black;
    --secondary: crimson;
}
.link {
    font-family: 'Martian Mono', monospace;
    color: var(--primary);
    font-size: 1rem;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline 2px;
}

.link__secondary {
    color: var(--secondary);
}
.link__secondary:hover {
    text-decoration: underline 2px;
}