@import url("../../../../../global.css");

/* ************************** */
/* MAIN DIV */
/* ************************** */
.main_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100vw;
    height: 10vh;
}
.header_logo, .header_menu, .header_actions {
    margin: 0;
    padding: 0;
}

/* ************************** */
/* SUB DIVS */
/* ************************** */
/* SHARED CLASSES */
.center_content {
    align-content: center;
    text-align: center;
}
.navigation_link {
    flex: 1;
    font-size: 12px;
    margin: 10px 5px;
}
.inline_links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin: 0;
    padding: 10px;
}

/* LOGO */
.header_logo {
    flex: 3;
}
.logo_img {
    width: 128px;
}

/* MENU */
.header_menu {
    flex: 10;
}

/* ACTIONS */
.header_actions {
    flex: 4;
}